# Learn commands the hard way before making an alias

# force nvim
alias v="nvim"
alias vim="nvim"

# tricked out ls
alias lol="ls -ap | lolcat"
alias llol="ls -laihF | lolcat"
alias ll="ls -laihF"
alias l="ls -aF"

# easier updates 
alias update-npm="nvm install lts/* --reinstall-packages-from=default --latest-npm"
alias update-node="nvm install lts/* --reinstall-packages-from=default --latest-npm"
alias update-nvm="cd ~/.nvm && echo 'run git checkout [version] && . nvm.sh     (from within ~/.nvm/  -- see https://github.com/nvm-sh/nvm#git-install for latest verson)'"

# always run local bundle
alias bspec="bundle exec rspec"
alias brc="bundle exec rails c"
alias be="bundle exec"

# git commands
alias gcob="git checkout -b"
alias gcfpublic="git config --local user.name wildecodes && git config --local user.email 34753004+wildecodes@users.noreply.github.com"
alias gcfmagic="git config --global user.name 🦄 && git config --global user.email 2700765-wildecodes@users.noreply.gitlab,com"
alias ga="git add"
alias gaa="git add ."
alias gcm="git commit -m"
alias gp="git push"
alias gp0="git push --set-upstream origin master"
alias gs="git status"
alias gb="git branch"
alias gll="git config --local -l"

# make sure those squares turn green
alias takecred!="git filter-branch -f --env-filter \"GIT_AUTHOR_NAME='wilde.codes'; GIT_AUTHOR_EMAIL='34753004+wildecodes@users.noreply.github.com'; GIT_COMMITTER_NAME='wilde.codes'; GIT_COMMITTER_EMAIL='34753004+wildecodes@users.noreply.github.com';\" HEAD"

# easier navigation
alias valias="nvim ~/.dotfiles/.aliases"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ..aa="cd ~/code/app_academy/"
alias ..ap="cd ~/code/app_academy/aA-projects"
alias ..hw="cd ~/code/app_academy/aA-homeworks"
alias ..b="cd ~/blog/"
alias ..c="cd ~/code"
alias ..pub="cd ~/code/public_repos"
alias ..dt="cd ~/Desktop"
alias ..s="cd ~/code/app_academy/fullstacks/Songify/"
alias dotfiles="cd ~/.dotfiles && llol"
alias cheat="cd ~/code/cheatsheets/ && tree -a | lolcat"

# open in app
alias chrome="open -a Google\ Chrome.app"
alias atom="open -a Atom.app"

# better disk usage output
alias ducks="du -cksh * | sort -hr | head -n 15"

# dispatch my minions
alias kata=". ~/code/scripts/coding_warmup.sh"
alias mack=". ~/code/scripts/change_mac_address.sh"
